@keyframes moveRightToLift {
    0% {
        transform: translateX(20vw);
    }
    50% {
        transform: translateX(10vw);
    }
    100% {
        transform: translateX(5vw);
    }
}

@keyframes moveLeftToRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5%);
    }
    100% {
        transform: translateX(10%);
    }
}

@keyframes moveTopToDown{
    0% {
        transform: translateY(0);
    }
    25%{
        transform: translateY(5%);
    }
    50% {
        transform: translateY(0);
    }
    75%{
        transform: translateY(-5%);
    }
    100% {
        transform: translateY(0);
    }
}